<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="~/Content/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="Content/materialize.css" media="screen,projection" />
    <link rel="stylesheet" href="~/Content/search.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    

</head>
<body> 
    <div ng-controller="appCtrl" layout="column">
        <!-- Menu Superior-->
        <md-content>
            <md-toolbar class="navbar-fixed-top">
                <div id="menuToolBar">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" style="padding-top: 0.6em;" aria-label="Settings"
                                   ng-click="changeIcon()">
                            <ng-md-icon icon={{iconMenu}} style="fill: red" size="32"></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Snippets" ng-click="home()">
                            <span>Home</span>
                        </md-button>
                        <span flex=""></span>
                        <md-button class="md-icon-button" aria-label="Login" ng-click="openSearch()">
                            <md-icon md-svg-src="img/magnify.svg" style="color: white;"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Login">
                            <span>Login</span>
                        </md-button>
                    </div>
                </div>

                <!-- Barra de pesquisa no topo da página -->
                <div id="searchToolBar" class="hidden">
                    <div id="top-search-wrap">
                        <md-icon md-svg-src="img/magnify.svg" style="color: white;"></md-icon>
                        <input ng-model="valorBusca" type="text" placeholder="{{placeholder}}" style="color: white"
                               ng-keypress="keyPress($event)">
                        <md-button class="md-icon-button" ng-click="closeSearch()">
                            <i id="top-search-close">&times;</i>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>
        </md-content>

        <md-content>
            <!-- Sidenav esquerda-->
            <md-sidenav class="md-sidenav-left md-whiteframe-z2 fixed-action-btn top" md-component-id="left"
                        id="menuLateral">
                <md-toolbar class="side-nav-toolbar">
                        <div class="card small">
                            <div class="card-image">
                                <img src="http://goo.gl/ZLyyw9">
                                <span class="card-title" style="font-size: 0.8em">camila@gmail.com
                                    <!--<ng-md-icon icon="expand_more" style="fill:white;" class="md-icon-button" size="20"></ng-md-icon>-->
                                </span>
                            </div>
                        </div>
                </md-toolbar>

                <md-content layout-padding="" ng-controller="LeftCtrl">
                    <!-- Lista do sidebar -->
                    <md-list>
                        <md-list-item ng-click="toggleSnippets()">
                            <p> Snippets </p>
                            <ng-md-icon icon="{{iconSnippets}}" style="fill: black" class="md-icon-button"></ng-md-icon>
                        </md-list-item>
                        <div ng-show="snippetsOptions" class="menu-secundario">
                            <md-list-item ng-click="goTo('home')">
                                <p> Visualizar </p>
                            </md-list-item>
                            <md-list-item ng-click="goTo('adicionarSnippets')">
                                <p> Adicionar novo </p>
                            </md-list-item>
                        </div>
                        <md-list-item class="md-icon-button" ng-click="toggleTemas()">
                            <p> Temas </p>
                            <ng-md-icon icon="{{iconTemas}}" style="fill: black" class="md-icon-button"></ng-md-icon>
                        </md-list-item>
                        <md-list-item ng-click="toggleProjs()">
                                <p> Projetos </p>
                                <ng-md-icon icon="{{iconProjs}}" style="fill: black" class="md-icon-button"></ng-md-icon>
                        </md-list-item>
                        <div ng-show="projsOptions" class="menu-secundario">
                            <md-list-item ng-click="addProjeto($event)">
                                <p> Adicionar novo </p>
                            </md-list-item>
                        </div>
                        <md-list-item ng-click="togglePlugins()">
                            <p> Plugins </p>
                            <ng-md-icon icon="{{iconPlugins}}" style="fill: black" class="md-icon-button"></ng-md-icon>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>


            @RenderBody()


            <md-content>
                <!-- Rodapé -->
                <div style="margin-top: 4em;">
                    <md-toolbar class="navbar-fixed-bottom">
                        <div layout="row" layout-align="center center" flex>
                            <p><span>&copy;</span> @DateTime.Now.Year - Repositório</p>
                        </div>
                    </md-toolbar>
                </div>
            </md-content>
        </md-content>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ace")
    @Scripts.Render("~/bundles/zip")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/repositorio")
    @Scripts.Render("~/bundles/repositorioServices")
    @Scripts.Render("~/bundles/repositorioControllers")
    @Scripts.Render("~/bundles/repositorioConfig")
    @RenderSection("scripts", required: false)

</body>
</html>
